.cart_heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart_container {
  display: flex;
  justify-content: space-between;
}
.cart_item_block {
  display: flex;
  flex-direction: column;
}
.data-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20vh;
}
.cart_img {
  display: flex;
  justify-content: center;
}
.cart_img * {
  width: 50%;
}
.button_section {
  display: flex;
  gap: 10vh;
}
.cart_txt {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button_section * {
  border-radius: 4vh;
  width: 20vh;
  height: auto;
}
.checkout_btn {
  border-radius: 4vh;
  width: 30vh;
  height: auto;
}
@media (max-width: 900px) {
  .cart_container {
    flex-direction: column;
    row-gap: 25vh;
    justify-content: center;
    justify-items: center;
  }
  .cart_img {
    display: flex;
    justify-content: center;
  }

  .cart_txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .cart_txt > * {
    text-align: center;
  }
  .button_section {
    display: flex;
    justify-content: center;
    gap: 0 5vh;
  }
  .button_section * {
    border-radius: 4vh;
    width: 20vh;
    height: auto;
  }
  .checkout_btn {
    border-radius: 4vh;
    width: 30vh;
    height: auto;
  }
}
@media (max-width: 520px) {
  .cart_container {
    flex-direction: column;
  }
  .button_section {
    display: flex;
    justify-content: center;
    gap: 0 2vh;
  }
  .button_section * {
    border-radius: 4vh;
    width: 16vh;
    height: auto;
    font-size: 0.75rem;
  }
  .checkout_btn {
    border-radius: 4vh;
    width: 25vh;
    height: auto;
    font-size: 0.75rem;
  }
  .cart_img img {
    width: 50%;
  }
}
@media (max-width: 380px) {
  .button_section * {
    border-radius: 4vh;
    width: 25vh;
    height: auto;
    font-size: 0.6rem;
  }
  .checkout_btn {
    border-radius: 4vh;
    width: 25vh;
    height: auto;
    font-size: 0.6rem;
  }
}
.payment-animation {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4caf50;
  color: white;
  padding: 20px;
  border-radius: 5px;
  animation: fadeInAndOut 4s linear;
}

@keyframes fadeInAndOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
