.ipad__container {
  display: flex;
  justify-content: center;
}
.ipad_data_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80vw;
  gap: 2vh 6vw;
  margin-top: 10vh;
}

.ipad_item_container {
  display: flex;
  flex-direction: column;
  width: 20vw;
}
.ipad_item-img {
  display: flex;
  justify-content: center;
}
.ipad_item-img img {
  width: 12vw;
  height: 30vh;
}
.ipad_item_container h1 {
  font-size: 24px;
  text-align: center;
}
.ipad_item_container h6 {
  text-align: center;
}
/* Media Query for screens smaller than 768px */
@media (max-width: 840px) {
  .ipad_data_container {
    width: 90vw;
  }
  .ipad_item_container {
    width: 40vw;
  }
  .ipad_item-img img {
    width: 30vw;
    height: auto;
  }
}

/* Media Query for screens smaller than 480px */
@media (max-width: 480px) {
  .ipad_data_container {
    width: 90vw;
    flex-direction: column;
    align-items: center;
  }
  .ipad_item_container {
    width: 90vw;
    margin-bottom: 20px;
  }
  .ipad_item-img img {
    width: 80vw;
    height: auto;
  }
}
